.cart {
   padding: 16px 42px;
   &__title {
      text-align: start;
      font-size: 30px;
      text-transform: capitalize;
      font-weight: bold;
      letter-spacing: 1px;
      color: #000;
   }
   &__block {
      margin-top: 48px;
   }
   &__item {
      display: flex;
      padding-top: 24px;
      border-bottom: 1px solid #ccc;
   }
   &__item-img {
      position: relative;
      height: 192px;
      width: 192px;
      border-radius: 8px;
      overflow: hidden;
   }
   &__item-description {
      margin-left: 16px;
      position: relative;
      display: flex;
      flex: 1 1 0%;
      flex-direction: column;
      justify-content: space-between;
   }

   .cart-delete-btn {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 30px;
      height: 30px;
      z-index: 10;
      color: #000;
      background-color: #fff;
      border-radius: 100%;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   }

   .available-btns {
      .btn {
         width: 30px;
         height: 30px;
      }
   }

   &__item-info {
      position: relative;
      padding-right: 32px;
      display: flex;
      flex-direction: column;
      //grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 5px;
      p {
         font-size: 18px;
         font-weight: 600;
         letter-spacing: 1px;
      }
   }

   .summary {
      border-radius: 8px;
      background: rgba(0, 0, 0, 0.1);
      padding: 24px 16px;
      letter-spacing: 1px;
      &__block {
         margin-top: 24px;
      }
      &__title {
         font-size: 24px;
         font-weight: 500;
         color: #000;
      }
      .order-total {
         display: flex;
         align-items: center;
         justify-content: space-between;
         border-top: 1px solid #ccc;
         padding-top: 16px;
      }

      &__btn {
         margin-top: 24px;
         display: flex;
         align-items: center;
         flex-direction: column;
         justify-content: center;
         width: 100%;
         height: 40px;
         background: #000;
         color: #fff;
         border-radius: 20px;
         span {
            font-size: 16px;
            text-align: center;
         }
      }
   }
}

@media (min-width: 767.98px) {
   .cart {
      &__block {
         display: grid;
         grid-template-columns: repeat(12, minmax(0, 1fr));
         align-items: start;
         gap: 48px;
      }
      &__list {
         grid-column: span 7 / span 7;
      }
      .summary {
         grid-column: span 5 / span 5;
      }
   }
}

@media (max-width: 1023.98px) {
   .cart {
      &__block {
         display: grid;
         grid-template-columns: repeat(12, minmax(0, 1fr));
         align-items: start;
         gap: 48px;
      }
      &__list {
         grid-column: span 7 / span 7;
      }
      .summary {
         grid-column: span 5 / span 5;
      }
      &__item-img {
         width: 96px;
         height: 96px;
      }

   }
}
//@media (max-width: 767.98px) {
//   .cart {
//      &__block {
//         display: grid;
//         grid-template-columns: repeat(12, minmax(0, 1fr));
//         align-items: start;
//         gap: 48px;
//      }
//      &__list {
//         grid-column: span 7 / span 7;
//      }
//      .summary {
//         grid-column: span 5 / span 5;
//      }
//   }
//}
