.info {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 10px;
   letter-spacing: 1px;
   &__title {
      text-transform: capitalize;
      color: $text-color-grey;
   }
   &__price {
      color: #515151;
      font-weight: bold;
   }
   &__description {
     p::first-letter {
         text-transform: capitalize;
     }
   }
}
